//compress: true



//font-styles
.SF_reg () {
    font-family: 'SF_pro_display_reg';
    font-size: 16px;
    color: #B0B0B0;
}

.montserrat_reg_20() {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #B0B0B0;
}

.montserrat_reg_24() {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.montserrat_sbold_25() {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.montserrat_sbold_96() {
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    text-transform: uppercase;
    font-weight: 600;
    color: @txt_white;
}

.questrial {
    font-family: 'Questrial', sans-serif;
    font-size: 96px;
    font-weight: 400;
}

// colors
@black: #000;
@almost-white: #D8D8D8;
@bgn_black: #1A1A1A;
@txt_white: #FFFFFF;
@txt_gray: #B0B0B0;

.header {
    padding: 45px 0 50px 0;

    .ru {
        display: inline-block;
        .montserrat_reg_20();
        color: #000000;
        text-transform: uppercase;
        text-decoration: underline;
        margin-right: 1.2rem;
    }

    .eng {
        display: inline-block;
        .montserrat_reg_20();
        color: #000000;
        text-transform: uppercase;
    }

    .wrap {
        display: table;
        width: 100%;
        height: 152px;

        &-block {
            display: table-cell;
            vertical-align: bottom;
        }

        h1 {
            .questrial();
            line-height: 45px;
        }
    }

    .hamburger-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: end;

    }

    .hamburger {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin: 0 0 0 auto;
        padding: 10px 0;
        transition-duration: 0.2s;
        justify-content: space-between;
        height: 40px;
    }

    .hamburger:hover {
        cursor: pointer;
        background-color: #000;

    }

    .hamburger-line {
        background-color: #000;
        width: 3vw;
        height: 5px;
        transition-duration: 0.2s;
    }

    .hamburger:hover .hamburger-line {
        background-color: #fff;
    }
}


//menuuuuuuuuuuuuuuuuuuuuuuuu
.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: @bgn_black;

    .menu-txt {
        padding: 2rem 0 0 6rem;
        width: 70rem;
        display: inline-block;

        a {
            text-decoration: none;

            h1 {
                .montserrat_sbold_96();
                margin-bottom: 3rem;
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
                /* Время изменения цвета */
            }

            h1:hover {
                cursor: pointer;
                color: #000;
                /* Меняем цвет ссылки */
                -webkit-text-stroke: 1px #FFFFFF;
                /* Толщина и цвет обводки */
                //text-stroke: 1px @txt_white;
            }


        }

    }


    .cross {
        rotate: 45deg;
        transition-duration: 0.2s;
        height: 70px;
        width: 70px;
        margin-top: 30px;  
    }

    .cross:hover {
        rotate: -45deg;
        cursor: pointer;
    }

    .cross-figure{
        clip-path: polygon(0 48%, 48% 48%, 48% 0, 52% 0, 52% 48%, 100% 48%, 100% 52%, 52% 52%, 52% 100%, 48% 100%, 48% 52%, 0 52%);
        width: 100%;
        height: 100%;
        background-color: #b0b0b0;
    }

    .menu-logo {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .mail {
        .montserrat_sbold_96();
        font-size: 32px;
        text-align: right;
        padding-right: 3.5rem;
        line-height: 0rem;
    }

    .line-menu {
        float: bottom;
        width: 100%;
    }
}

.main-menu {
    position: fixed;
    top: 0;
    left: 100vw;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    z-index: 10;
    transition-duration: 0.5s;

    .main-menu .menu-txt {
        padding: 2rem 0 0 6rem;
        width: 70rem;
        display: inline-block;
    }

    .main-menu .menu-txt a {
        text-decoration: none;
    }

    .main-menu .menu-txt a h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 96px;
        text-transform: uppercase;
        font-weight: 600;
        color: #ffffff;
        margin-bottom: 3rem;
        -webkit-transition: all 0.5s ease;
        transition: all 0.2s ease;
        /* Время изменения цвета */
    }

    .main-menu .menu-txt a h1:hover {
        cursor: pointer;
        color: #000;
        /* Меняем цвет ссылки */
        -webkit-text-stroke: 1px #FFFFFF;
        /* Толщина и цвет обводки */
    }


    .main-menu .menu-logo {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .main-menu .mail {
        font-family: 'Montserrat', sans-serif;
        font-size: 96px;
        text-transform: uppercase;
        font-weight: 600;
        color: #ffffff;
        font-size: 32px;
        text-align: right;
        padding-right: 3.5rem;
        line-height: 0rem;
    }

    .main-menu .line-menu {
        float: bottom;
        width: 100%;
    }
}



.footer {
    background-color: @black;

    .footer-left-col {
        margin-top: 90px;
    }

    .footer-com-info {
        .montserrat_reg_20();
        color: @txt_white;
        font-size: 20px;
        line-height: 31.18px;
        text-transform: uppercase;
        margin-bottom: 35px;
        width: 45%;
    }

    .footer-email {
        color: @txt_white;
        font-family: 'Montserrat', sans-serif;
        font-size: 54px;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 31.18px;
        text-decoration: underline;
        margin-bottom: 60px;
    }

    .footer-company-name {
        .montserrat_reg_24();
        width: 100%;
        text-align: end;
        margin-top: 65px;
        margin-bottom: 70px;
    }

    .footer-right-col {
        margin-top: 105px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-online-contacts {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    .online-contact {
        .montserrat_reg_24();
        font-weight: 500;
        line-height: 37.42px;
        color: @txt_white;
        margin-left: 40px;
        text-decoration: none;
    }

    .footer-language-switcher {
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        padding-bottom: 65px;
    }

    .footer-language-button,
    .footer-language-separator {
        .montserrat_reg_20();
        color: @txt_white;
        text-decoration: none;
        line-height: 24.38px;
    }

    .footer-language-separator {
        margin: auto 10px;
    }
}