//compress: true

// // basic sattings
// html{
//     font-size: 10px;
// }
// 
// section{
//     padding: 9rem 0;
// }


// font famaly

.montserrat_reg_20(){
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #B0B0B0;
    line-height: 3rem;
    //text-transform: uppercase;
}

.montserrat_reg_24(){
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 3.6rem;
}

.montserrat_sbold_25(){
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.montserrat_sbold_96(){
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-weight: 400;
}


// colors
@bgn_black: #1A1A1A;
@txt_white: #FFFFFF;
@txt_gray: #B0B0B0;



.main{

    .fest-12-arch{
        margin: 5rem 0 0 6.6rem;
        &-title{
            .montserrat_reg_20();
            margin-bottom: 4rem;
        }
        &-txt{
            .montserrat_reg_24();
            margin-top: 4rem;
        }

        &-grandprix{
            margin: 5rem 5rem 0 0;
            display: inline-block;
        }
        &-dip1degree{
            display: inline-block;
        }

        &-dip-txt{
            display: inline-block;
            margin-top: 5rem;
            h3{
                .montserrat_sbold_25();
                margin-bottom: 2rem;
                line-height: 3.5rem; 
            }
            p{
                .montserrat_reg_24(); 
            }
        }

        &-dip2degree{
            display: inline-block;
            vertical-align: top;
            padding: 5rem 0 0 1.4rem;
        }
    }

    .section{
        background-color: @bgn_black;
    }

    .fest-14-arch{
        margin-top: 7rem;
        padding: 7rem 0 7rem 1rem;

        &-title{
            .montserrat_reg_20();
            padding-left: 11.5rem; 
        }

        &-left{
            padding-top: 6rem;
        }

        &-center{
            margin: 10rem 0 0 0.7rem;
            &-uptxt{
                .montserrat_reg_20();
            }
            &-img{
                padding-top: 6rem;
            }
            &-title{
                padding-top: 7.5rem;
                .montserrat_sbold_25();
                color: @txt_white;
            }
            &-txt{
                .montserrat_reg_24();
                padding-top: 2rem;
                color: @txt_gray;
            }
        }

        &-right{
            margin: 51rem 0 0 1.2rem;
            &-txt{
                .montserrat_reg_24();
                color: @txt_gray;
                padding-top: 2rem; 
            }
        }
    }

    .photo-awards{
        &-title{
            padding: 7rem 0 0 6.6rem;
            .montserrat_reg_20();
            text-transform: uppercase;
        }
        &-img{
            padding: 3rem 0 0 6.6rem;
        }

        &-txtdown{
            width: 31.7rem;
            .montserrat_reg_24();
            color:#000;
            margin: 6rem 0 0 6.6rem;
        }
        &-imgdown{
            padding-top: 6rem;
        }
    }

    .other-awards{
        &-title{
            padding: 7rem 0 0 6.6rem;
            .montserrat_reg_20();
            text-transform: uppercase;
        }
        &-titletxt{
            .montserrat_sbold_25();
            color: @txt_white;
            padding: 3rem 0 0 6.6rem; 
        }

        &-img-greenurban{
            padding: 2rem 0 0 6.6rem;
            display: inline-block;
        }
        &-txt-greenurban{
            .montserrat_reg_24();
            color: @txt_white;
            display: inline-block;
            width: 34.7rem;
            vertical-align: top;
            margin: 1.2rem 0 0 4rem;
        }

        &-txt-leo{
            .montserrat_reg_20();
            padding-top: 10rem; 
        }
        &-img-leo{
            padding: 5rem 0 9rem 0;
        }
        &-img-yellow{
            padding: 9.5rem 0 0 5rem;
        }
        &-txt-yellow{
            .montserrat_reg_24();
            color: @txt_white;
            padding: 4rem 0 7rem 5rem;
        }
    }

    .masa{
        margin-top: 7rem;
        &-title{
            .montserrat_reg_20();
            text-transform: uppercase;
            padding-left: 6.6rem;
        }

        &-img{
            padding: 3rem 0 0 6.6rem;
        }
        &-titletxt{
            .montserrat_sbold_25();
            padding: 3rem 0 0 3rem;
        }
        &-txt{
            .montserrat_reg_20();
            color:#000;
            padding: 1rem 0 0 3rem;
        }

        &-txtdown{
            .montserrat_reg_24();
            padding: 3rem 0 0 6.6rem;
        }
    }

    .footer-line{
        padding: 12rem 0 9rem 0;
    }


   
}