// basic sattings
html{
    font-size: 10px;
}

section{
    padding: 9rem 0;
}


// font famaly

.montserrat_reg_20(){
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #B0B0B0;
    line-height: 3rem;
    //text-transform: uppercase;
}

.montserrat_reg_24(){
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 3.6rem;
}

.montserrat_sbold_25(){
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.montserrat_sbold_96(){
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-weight: 400;
}


// colors
@bgn_black: #1A1A1A;
@txt_white: #FFFFFF;
@txt_gray: #B0B0B0;



.main{
    padding: 4.5rem 0 0 0;

    .ru{
        display: inline-block;
        .montserrat_reg_20();
        color: #000000;
        text-transform: uppercase;
        text-decoration: underline;
        margin-right: 1.2rem;
        padding-left: 4.5rem;
    }

    .eng{
        display: inline-block;
        .montserrat_reg_20();
        color: #000000;
        text-transform: uppercase;
    }

    .wrap{
        display: table;
        width: 100%;
        height: 152px;
        &-block{
            display: table-cell;
            vertical-align: bottom;
            padding-left: 4rem;
        }
        
        h1{
            .montserrat_sbold_96();
            line-height: 45px;
        }
    }
    
    .hamburger{
        text-align: right;
    }

    .fest-12-arch{
        margin: 5rem 0 0 6.6rem;
        &-title{
            .montserrat_reg_20();
            margin-bottom: 4rem;
        }
        &-txt{
            .montserrat_reg_24();
            margin-top: 4rem;
        }

        &-grandprix{
            margin: 5rem 5rem 0 0;
            display: inline-block;
        }
        &-dip1degree{
            display: inline-block;
        }

        &-dip-txt{
            display: inline-block;
            margin-top: 5rem;
            h3{
                .montserrat_sbold_25();
                margin-bottom: 2rem;
                line-height: 3.5rem; 
            }
            p{
                .montserrat_reg_24(); 
            }
        }

        &-dip2degree{
            display: inline-block;
            vertical-align: top;
            padding: 5rem 0 0 1.4rem;
        }
    }

    .section{
        background-color: @bgn_black;
    }

    .fest-14-arch{
        margin-top: 7rem;
        padding: 7rem 0 7rem 1rem;

        &-title{
            .montserrat_reg_20();
            padding-left: 11.5rem; 
        }

        &-left{
            padding-top: 6rem;
        }

        &-center{
            margin: 10rem 0 0 0.7rem;
            &-uptxt{
                .montserrat_reg_20();
            }
            &-img{
                padding-top: 6rem;
            }
            &-title{
                padding-top: 7.5rem;
                .montserrat_sbold_25();
                color: @txt_white;
            }
            &-txt{
                .montserrat_reg_24();
                padding-top: 2rem;
                color: @txt_gray;
            }
        }

        &-right{
            margin: 51rem 0 0 1.2rem;
            &-txt{
                .montserrat_reg_24();
                color: @txt_gray;
                padding-top: 2rem; 
            }
        }
    }

    .photo-awards{
        &-title{
            padding: 7rem 0 0 6.6rem;
            .montserrat_reg_20();
            text-transform: uppercase;
        }
        &-img{
            padding: 3rem 0 0 6.6rem;
        }

        &-txtdown{
            width: 31.7rem;
            .montserrat_reg_24();
            color:#000;
            margin: 6rem 0 0 6.6rem;
        }
        &-imgdown{
            padding-top: 6rem;
        }
    }

    .other-awards{
        &-title{
            padding: 7rem 0 0 6.6rem;
            .montserrat_reg_20();
            text-transform: uppercase;
        }
        &-titletxt{
            .montserrat_sbold_25();
            color: @txt_white;
            padding: 3rem 0 0 6.6rem; 
        }

        &-img-greenurban{
            padding: 2rem 0 0 6.6rem;
            display: inline-block;
        }
        &-txt-greenurban{
            .montserrat_reg_24();
            color: @txt_white;
            display: inline-block;
            width: 34.7rem;
            vertical-align: top;
            margin: 1.2rem 0 0 4rem;
        }

        &-txt-leo{
            .montserrat_reg_20();
            padding-top: 10rem; 
        }
        &-img-leo{
            padding: 5rem 0 9rem 0;
        }
        &-img-yellow{
            padding: 9.5rem 0 0 5rem;
        }
        &-txt-yellow{
            .montserrat_reg_24();
            color: @txt_white;
            padding: 4rem 0 7rem 5rem;
        }
    }

    .masa{
        margin-top: 7rem;
        &-title{
            .montserrat_reg_20();
            text-transform: uppercase;
            padding-left: 6.6rem;
        }

        &-img{
            padding: 3rem 0 0 6.6rem;
        }
        &-titletxt{
            .montserrat_sbold_25();
            padding: 3rem 0 0 3rem;
        }
        &-txt{
            .montserrat_reg_20();
            color:#000;
            padding: 1rem 0 0 3rem;
        }

        &-txtdown{
            .montserrat_reg_24();
            padding: 3rem 0 0 6.6rem;
        }
    }

    .footer-line{
        padding: 12rem 0 9rem 0;
    }


    .footer {
        background-color: #000;
        
    }
    
    .footer-left-col{
        margin-top: 90px;
    }
    
    .footer-com-info {
        .montserrat_reg_20();
        color: @txt_white;
        font-size: 20px;
        line-height: 31.18px;
        text-transform: uppercase;
        margin-bottom: 35px;
        width: 45%;
    }
    
    .footer-email {
        color: @txt_white;
        font-family: 'Montserrat', sans-serif;
        font-size: 54px;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 31.18px;
        text-decoration: underline;
        margin-bottom: 60px;
    }
    
    .footer-company-name {
        .montserrat_reg_24();
        width: 100%;
        text-align: end;
        margin-top: 65px;
        margin-bottom: 70px;
    }
    
    .footer-right-col{
        margin-top: 105px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .footer-online-contacts{
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    
    .online-contact{
        .montserrat_reg_24();
        font-weight: 500;
        line-height: 37.42px;
        color: @txt_white;
        margin-left: 40px;
        text-decoration: none;
    }
    
    .footer-language-switcher{
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        padding-bottom: 65px;
    }
    
    .footer-language-button, .footer-language-separator{
        .montserrat_reg_20();
        color: @txt_white;
        text-decoration: none;
        line-height: 24.38px;
    }
    
    .footer-language-separator{
        margin: auto 10px;
    }
}