.main .fest-12-arch-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 3.6rem;
  color: #B0B0B0;
  margin-bottom: 3rem;
}
.main .fest-12-arch-img img {
  width: 100%;
  height: auto;
}
.main .fest-12-arch-txt {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 3.6rem;
  margin-top: 3rem;
}
.main .fest-12-arch-grandprix {
  margin: 5rem 5rem 0 0;
  display: inline-block;
}
.main .fest-12-arch-grandprix img {
  width: 100%;
  height: auto;
}
.main .fest-12-arch-dip1degree {
  display: inline-block;
}
.main .fest-12-arch-dip1degree img {
  width: 100%;
  height: auto;
}
.main .fest-12-arch-dip-txt {
  display: inline-block;
  margin-top: 5rem;
}
.main .fest-12-arch-dip-txt h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 3.8rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.main .fest-12-arch-dip-txt p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 3.6rem;
  width: 44.8rem;
}
.main .fest-12-arch-dip2degree {
  display: inline-block;
  vertical-align: top;
  padding: 5rem 0 0 1.4rem;
}
.main .fest-12-arch .fest-12-arch-dip2degree img {
  width: 100%;
  height: auto;
}
.main .section {
  background-color: #1A1A1A;
}
.main .fest-14-arch {
  margin-top: 7rem;
  padding: 7rem 0 7rem 1rem;
}
.main .fest-14-arch-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 3.6rem;
  color: #B0B0B0;
  padding-left: 11.5rem;
}
.main .fest-14-arch-left {
  padding-top: 6rem;
}
.main .fest-14-arch-left img {
  width: 100%;
  height: auto;
}
.main .fest-14-arch-center {
  margin-top: 10rem;
  margin-left: 0.7rem;
}
.main .fest-14-arch-center-uptxt {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 3.6rem;
  color: #B0B0B0;
}
.main .fest-14-arch-center-img {
  padding-top: 6rem;
}
.main .fest-14-arch-center-img img {
  width: 100%;
  height: auto;
}
.main .fest-14-arch-center-title {
  padding-top: 7.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 3.8rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main .fest-14-arch-center-txt {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 3.6rem;
  padding-top: 2rem;
  color: #B0B0B0;
}
.main .fest-14-arch-right {
  margin: 51rem 0 0 1.2rem;
}
.main .fest-14-arch-right-txt {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 3.6rem;
  color: #B0B0B0;
  padding-top: 2rem;
}
.main .fest-14-arch-right img {
  width: 100%;
  height: auto;
}
.main .photo-awards-title {
  padding: 7rem 0 0 6.6rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 3.6rem;
  text-transform: uppercase;
  color: #B0B0B0;
}
.main .photo-awards-img {
  padding: 3rem 0 0 6.6rem;
}
.main .photo-awards-txtdown {
  width: 31.7rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 3.6rem;
  color: #000;
  margin: 6rem 0 0 6.6rem;
}
.main .photo-awards-imgdown {
  padding: 6rem 0 7rem 0;
}
.main .other-awards-title {
  padding: 7rem 0 0 6.6rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 3.6rem;
  text-transform: uppercase;
  color: #B0B0B0;
}
.main .other-awards-titletxt {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 3.8rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 3rem 0 0 6.6rem;
}
.main .other-awards-img-greenurban {
  padding: 2rem 0 0 6.6rem;
  display: inline-block;
}
.main .other-awards-txt-greenurban {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 3.6rem;
  color: #FFFFFF;
  display: inline-block;
  width: 34.7rem;
  vertical-align: top;
  margin: 1.2rem 0 0 4rem;
}
.main .other-awards-txt-leo {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 3.6rem;
  color: #FFFFFF;
  padding-top: 10rem;
}
.main .other-awards-img-leo {
  padding: 5rem 0 9rem 0;
}
.main .other-awards-img-yellow {
  padding: 9.5rem 0 0 5rem;
}
.main .other-awards-txt-yellow {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 3.6rem;
  color: #FFFFFF;
  padding: 4rem 0 7rem 5rem;
}
.main .masa {
  margin-top: 7rem;
}
.main .masa-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 3.6rem;
  text-transform: uppercase;
  color: #B0B0B0;
  padding-left: 6.6rem;
}
.main .masa-img {
  padding: 3rem 0 0 6.6rem;
}
.main .masa-titletxt {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 3.8rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 3rem 0 0 3rem;
}
.main .masa-txt {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 3.6rem;
  color: #000;
  padding: 1rem 0 0 3rem;
}
.main .masa-txtdown {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 3.6rem;
  padding: 3rem 0 0 6.6rem;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .main .container {
    max-width: 95%;
  }
  .main .fest-12-arch-title {
    font-size: 12px;
    padding-left: 0;
  }
  .main .fest-12-arch-txt {
    font-size: 14px;
    line-height: 2.5rem;
  }
  .main .fest-12-arch-grandprix {
    margin-top: 3rem;
    display: inline-block;
    width: 45%;
  }
  .main .fest-12-arch-dip1degree {
    display: inline-block;
    width: 45%;
  }
  .main .fest-12-arch-dip-txt {
    display: inline-block;
    margin-top: 3rem;
    width: 45%;
  }
  .main .fest-12-arch-dip-txt p {
    width: 100%;
    font-size: 14px;
    line-height: 2.5rem;
  }
  .main .fest-12-arch-dip2degree {
    display: inline-block;
    vertical-align: top;
    padding: 4rem 0 0 1.4rem;
  }
  .main .fest-12-arch .fest-12-arch-dip2degree {
    width: 47%;
    margin-left: 3.4rem;
  }
  .main .fest-14-arch {
    margin-top: 3rem;
    padding: 3rem 0 7rem 1rem;
  }
  .main .fest-14-arch .fest-14-arch-title {
    font-size: 12px;
    margin-left: 0;
    padding-left: 0;
  }
  .main .fest-14-arch .fest-14-arch-center {
    margin-top: 3rem;
  }
  .main .fest-14-arch-left {
    padding-top: 22.5rem;
  }
  .main .fest-14-arch-left img {
    height: auto;
  }
  .main .fest-14-arch-center {
    margin: 10rem 0 0 0.7rem;
  }
  .main .fest-14-arch-center-uptxt {
    font-size: 14px;
    line-height: 2.5rem;
  }
  .main .fest-14-arch-center-img {
    padding-top: 6rem;
  }
  .main .fest-14-arch-center-txt {
    font-size: 14px;
    line-height: 2.5rem;
    height: auto;
  }
  .main .fest-14-arch-right {
    margin: 1rem 0 0 1.2rem;
  }
  .main .fest-14-arch-right-txt {
    font-size: 14px;
    line-height: 2.5rem;
    height: auto;
  }
  .main .fest-14-arch-right-img {
    padding-top: 3.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .main .container {
    max-width: 95%;
  }
  .main .fest-12-arch-title {
    font-size: 14px;
  }
  .main .fest-12-arch-txt {
    font-size: 16px;
    line-height: 3rem;
  }
  .main .fest-12-arch-grandprix {
    margin-top: 5rem;
    width: 40%;
  }
  .main .fest-12-arch-dip1degree {
    width: 40%;
    margin-left: 2.2rem;
  }
  .main .fest-12-arch-dip-txt {
    display: inline-block;
    margin-top: 5rem;
    width: 45%;
  }
  .main .fest-12-arch-dip-txt p {
    width: 100%;
    font-size: 16px;
    line-height: 3rem;
  }
  .main .fest-12-arch-dip2degree {
    display: inline-block;
    vertical-align: top;
    padding: 5rem 0 0 1.4rem;
  }
  .main .fest-12-arch .fest-12-arch-dip2degree {
    width: 42%;
    margin-left: 3.3rem;
  }
  .main .fest-14-arch {
    margin-top: 3rem;
    padding: 3rem 0 7rem 1rem;
  }
  .main .fest-14-arch .fest-14-arch-title {
    font-size: 14px;
    padding-left: 0;
  }
  .main .fest-14-arch .fest-14-arch-center {
    margin-top: 3rem;
  }
  .main .fest-14-arch-left {
    padding-top: 22.5rem;
  }
  .main .fest-14-arch-left img {
    height: auto;
  }
  .main .fest-14-arch-center {
    margin: 10rem 0 0 0.7rem;
  }
  .main .fest-14-arch-center-uptxt {
    font-size: 16px;
    line-height: 3rem;
  }
  .main .fest-14-arch-center-img {
    padding-top: 6rem;
  }
  .main .fest-14-arch-center-txt {
    font-size: 16px;
    line-height: 3rem;
    height: auto;
  }
  .main .fest-14-arch-right {
    margin: 1rem 0 0 1.2rem;
  }
  .main .fest-14-arch-right-txt {
    font-size: 16px;
    line-height: 3rem;
    height: auto;
  }
  .main .fest-14-arch-right-img {
    padding-top: 3.5rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1920px) {
  .main .fest-12-arch-grandprix {
    margin-top: 5rem;
    width: 40%;
  }
  .main .fest-12-arch-dip1degree {
    width: 40%;
    margin-left: 2.2rem;
  }
  .main .fest-12-arch .fest-12-arch-dip2degree {
    width: 41.5%;
    margin-left: 6rem;
  }
  .main .fest-12-arch-dip-txt {
    display: inline-block;
    margin-top: 5rem;
    width: 40%;
  }
  .main .fest-12-arch-dip-txt p {
    width: 100%;
    font-size: 16px;
    line-height: 3rem;
  }
}
