//fonts
.montserrat_reg_16(){
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #B0B0B0;
    text-transform: uppercase;
}

.montserrat_reg_18(){
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #B0B0B0;
    text-transform: uppercase;
}

.montserrat_reg_20(){
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #B0B0B0;
}

.montserrat_reg_24(){
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 2rem;
}

.montserrat_sbold_25(){
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.montserrat_sbold_96(){
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-weight: 400;
}



// colors
@bgn_black: #1A1A1A;
@txt_white: #FFFFFF;
@txt_gray: #B0B0B0;



.main{
   
    .team-up{

        .member-1{
            width: 41rem;
            &-job-title{
                .montserrat_reg_16();
                padding-top: 1rem;
            }
            &-name{
                .montserrat_reg_24();
                text-transform: uppercase;
                display: inline-block;
            }
            &-plus{
                margin-left: 14.9rem;
                display: inline-block;
                background: @txt_gray;
                height: 25px; 
                width: 1px;
                position: relative; 
                left: 40px; 
            }
            &-plus::after{
                content: "";
                height: 1px; 
                width: 25px;
                background: @txt_gray;
                position: absolute; 
                left: -12.5px; 
                top: 12.5px;
            }
        }

        .member-2{
            width: 58.2rem;
            &-job-title{
                .montserrat_reg_16();
                padding-top: 1rem;
            }
            &-name{
                .montserrat_reg_24();
                text-transform: uppercase;
                display: inline-block;
            }
            &-plus{
                margin-left: 32rem;
                display: inline-block;
                background: @txt_gray;
                height: 25px; 
                width: 1px;
                position: relative; 
                left: 40px; 
            }
            &-plus::after{
                content: "";
                height: 1px; 
                width: 25px;
                background: @txt_gray;
                position: absolute; 
                left: -12.5px; 
                top: 12.5px;
            }
        }
    }

    .team-down{
        margin-top: 5rem;

        .member-3{
            display: inline-block;
            width: 36.4rem;
            &-job-title{
                .montserrat_reg_16();
                padding-top: 1rem;
            }
            &-name{
                .montserrat_reg_24();
                text-transform: uppercase;
                display: inline-block;
            }
            &-plus{
                margin-left: 9.8rem;
                display: inline-block;
                background: @txt_gray;
                height: 25px; 
                width: 1px;
                position: relative; 
                left: 40px; 
            }
            &-plus::after{
                content: "";
                height: 1px; 
                width: 25px;
                background: @txt_gray;
                position: absolute; 
                left: -12.5px; 
                top: 12.5px;
            }
        }

        .member-4{
            display: inline-block;
            vertical-align: top;
            width: 35.3rem;
            margin-left: 4rem;
            &-job-title{
                .montserrat_reg_16();
                padding-top: 1rem;
            }
            &-name{
                .montserrat_reg_24();
                text-transform: uppercase;
                display: inline-block;
            }
            &-plus{
                margin-left: 9rem;
                display: inline-block;
                background: @txt_gray;
                height: 25px; 
                width: 1px;
                position: relative; 
                left: 40px; 
            }
            &-plus::after{
                content: "";
                height: 1px; 
                width: 25px;
                background: @txt_gray;
                position: absolute; 
                left: -12.5px; 
                top: 12.5px;
            }
        }
    }

    .about-us{
        margin-top: 7rem;
        .titles{
            &-gray{
                .montserrat_reg_18();
                text-transform: uppercase;
            }
            &-black{
                .montserrat_reg_24();
                text-transform: uppercase;
                font-weight: 400;
                line-height: 3.8rem;
                padding-top: 3rem;
            }
        }

        .left-column{
            margin-top: 2rem;
            &-txt{
                .montserrat_reg_18();
                text-transform: none;
                color: #000;
                line-height: 3.5rem;
                width: 41rem;
                padding-top: 1.5rem;
            }
        }

        .right-column{
            margin-top: 2rem;
            &-txt{
                .montserrat_reg_18();
                line-height: 3.5rem;
                text-transform: none;
                color: #000;
                width: 41rem;
                padding-top: 1.5rem;
            }
        }
    }

    .photo-awards{
        &-title{
            .montserrat_reg_18();
            text-transform: uppercase;
            margin-top: 7rem;
        }
        &-img{
            margin-top: 3rem;
        }

        &-txtdown{
            .montserrat_reg_18();
            text-transform: none;
            color: #000000;
            line-height: 3.5rem;
            margin-top: 3rem;
        }
        &-imgdown{
            margin-top: 3rem;
        }
    }

    .footer-line{
        padding: 12rem 0 9rem 0;
    }
    
}