//fonts
.montserrat_reg_16() {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #B0B0B0;
    text-transform: uppercase;
}

.montserrat_reg_18() {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #B0B0B0;
    text-transform: uppercase;
}

.montserrat_reg_20() {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #B0B0B0;
}

.montserrat_reg_24() {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 2rem;
}

.montserrat_sbold_25() {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.montserrat_sbold_96() {
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-weight: 400;
}



// colors
@bgn_black: #1A1A1A;
@txt_white: #FFFFFF;
@txt_gray: #B0B0B0;



.main {

    .team-up {

        .bottom-margin {
            background-color: @txt_white;
            height: 5rem;
            width: 100%;
            transition-duration: 0.5s;
        }

        .member-1 {
            width: auto;

            .member-1-img img {
                width: 100%;
                height: auto;
            }

            &-job-title {
                .montserrat_reg_16();
                padding-top: 1rem;
            }

            &-name {
                .montserrat_reg_20();
                text-transform: uppercase;
                display: inline-block;
                color: #000;
            }

            &-plus {
                margin-left: 14.9rem;
                display: inline-block;
                background: @txt_gray;
                height: 25px;
                width: 1px;
                position: relative;
                left: 40px;
            }

            &-plus::after {
                content: "";
                height: 1px;
                width: 25px;
                background: @txt_gray;
                position: absolute;
                left: -12.5px;
                top: 12.5px;
            }
        }

        .member-2 {
            margin-top: 2rem;
            width: auto;
            height: auto;

            .member-2-img img {
                width: 100%;
                height: auto;
            }

            &-job-title {
                .montserrat_reg_16();
                padding-top: 1rem;
            }

            &-name {
                .montserrat_reg_20();
                text-transform: uppercase;
                display: inline-block;
                color: #000;
            }

            &-plus {
                margin-left: 14.9rem;
                display: inline-block;
                background: @txt_gray;
                height: 25px;
                width: 1px;
                position: relative;
                left: 40px;
            }

            &-plus::after {
                content: "";
                height: 1px;
                width: 25px;
                background: @txt_gray;
                position: absolute;
                left: -12.5px;
                top: 12.5px;
            }
        }

        .member-3 {
            width: auto;
            margin-top: 7rem;

            &-img img {
                width: 100%;
                height: auto;
            }

            &-job-title {
                .montserrat_reg_16();
                padding-top: 1rem;
            }

            &-name {
                .montserrat_reg_20();
                text-transform: uppercase;
                display: inline-block;
                color: #000;
            }

            &-plus {
                margin-left: 9.8rem;
                display: inline-block;
                background: @txt_gray;
                height: 25px;
                width: 1px;
                position: relative;
                left: 40px;
            }

            &-plus::after {
                content: "";
                height: 1px;
                width: 25px;
                background: @txt_gray;
                position: absolute;
                left: -12.5px;
                top: 12.5px;
            }
        }

        .member-4 {
            // margin-top: 11rem;
            width: auto;
    

            &-img img {
                width: 100%;
                height: auto;
            }

            &-job-title {
                .montserrat_reg_16();
                padding-top: 1rem;
            }

            &-name {
                .montserrat_reg_20();
                text-transform: uppercase;
                display: inline-block;
                color: #000;
            }

            &-plus {
                margin-left: 9rem;
                display: inline-block;
                background: @txt_gray;
                height: 25px;
                width: 1px;
                position: relative;
                left: 40px;
            }

            &-plus::after {
                content: "";
                height: 1px;
                width: 25px;
                background: @txt_gray;
                position: absolute;
                left: -12.5px;
                top: 12.5px;
            }
        }

        .member-5 {
            // margin-top: 7rem;
            width: auto;
    

            .member-5-img img {
                width: 100%;
                height: auto;
            }

            &-job-title {
                .montserrat_reg_16();
                padding-top: 1rem;
            }

            &-name {
                .montserrat_reg_20();
                text-transform: uppercase;
                display: inline-block;
                color: #000;
            }

            &-plus {
                margin-left: 14.9rem;
                display: inline-block;
                background: @txt_gray;
                height: 25px;
                width: 1px;
                position: relative;
                left: 40px;
            }

            &-plus::after {
                content: "";
                height: 1px;
                width: 25px;
                background: @txt_gray;
                position: absolute;
                left: -12.5px;
                top: 12.5px;
            }
        }
    }

    .about-us {
        // margin-top: 7rem;

        .titles {
            &-gray {
                .montserrat_reg_18();
                text-transform: uppercase;
            }

            &-black {
                .montserrat_reg_24();
                text-transform: uppercase;
                font-weight: 400;
                line-height: 3.8rem;
                padding-top: 3rem;
            }
        }

        .left-column {
            margin-top: 2rem;

            .left-column-img img {
                width: 100%;
                height: auto;
            }

            &-txt {
                .montserrat_reg_18();
                text-transform: none;
                color: #000;
                line-height: 3.5rem;
                padding-top: 1.5rem;
            }
        }

        .right-column {
            margin-top: 2rem;

            .right-column-img img {
                width: 100%;
                height: auto;
            }

            &-txt {
                .montserrat_reg_18();
                line-height: 3.5rem;
                text-transform: none;
                color: #000;
                padding-top: 1.5rem;
            }
        }
    }

    .photo-awards {
        &-title {
            .montserrat_reg_18();
            text-transform: uppercase;
            margin-top: 7rem;
        }

        .photo-awards-img img {
            margin-top: 3rem;
            width: 100%;
            height: auto;
        }

        &-txtdown {
            .montserrat_reg_18();
            text-transform: none;
            color: #000000;
            line-height: 3.5rem;
            margin-top: 3rem;
        }

        .photo-awards-imgdown img {
            margin-top: 3rem;
            width: 100%;
            height: auto;
        }
    }

    .footer-line {
        padding: 12rem 0 9rem 0;
    }

}



//////////576
@media screen and (min-width: 300px) and (max-width: 576px) {
    .main {
        .container {
            max-width: 95%;
        }

        .team-up {
            .member-1 {
                margin-top: 5rem;

                .member-1-job-title {
                    font-size: 12px;
                }

                .member-1-name {
                    font-size: 14px;
                }
            }

            .member-2 {
                .member-2-job-title {
                    font-size: 12px;
                }

                .member-2-name {
                    font-size: 14px;
                }
            }

            .member-3 {
                margin-top: 5rem;

                .member-3-job-title {
                    font-size: 12px;
                }

                .member-3-name {
                    font-size: 14px;
                }
            }

            .member-4 {
                margin-top: 5rem;

                .member-4-job-title {
                    font-size: 12px;
                }

                .member-4-name {
                    font-size: 14px;
                }
            }

            .member-5 {
                margin-top: 5rem;

                .member-5-job-title {
                    font-size: 12px;
                }

                .member-5-name {
                    font-size: 14px;
                }
            }
        }

        .about-us {
            .titles {
                .titles-gray {
                    font-size: 12px;
                }

                .titles-black {
                    font-size: 18px;
                    line-height: 3rem;
                }
            }

            .left-column {
                .left-column-txt {
                    width: 100%;
                    font-size: 12px;
                    line-height: 2.5rem;
                }
            }

            .right-column {
                .right-column-txt {
                    width: 100%;
                    font-size: 12px;
                    line-height: 2.5rem;
                }
            }
        }

        .photo-awards {
            .photo-awards-title {
                font-size: 12px;
            }

            .photo-awards-txtdown {
                font-size: 12px;
                line-height: 2.5rem;
            }
        }
    }
}

//////////768
@media screen and (min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: 95%;
    }

    .team-up {
        .member-1 {
            .member-1-job-title {
                font-size: 12px;
            }

            .member-1-name {
                font-size: 14px;
            }
        }

        .member-2 {
            .member-2-job-title {
                font-size: 12px;
            }

            .member-2-name {
                font-size: 14px;
            }
        }

        .member-3 {
            .member-3-job-title {
                font-size: 12px;
            }

            .member-3-name {
                font-size: 14px;
            }
        }

        .member-4 {
            margin-top: 100rem;

            .member-4-job-title {
                font-size: 12px;
            }

            .member-4-name {
                font-size: 14px;
            }
        }

        .member-5 {
            margin-top: 1px;

            .member-5-job-title {
                font-size: 12px;
            }

            .member-5-name {
                font-size: 14px;
            }
        }
    }

    .about-us {
        .titles {
            .titles-gray {
                font-size: 12px;
            }

            .titles-black {
                font-size: 18px;
                line-height: 3rem;
            }
        }

        .left-column {
            .left-column-txt {
                width: 100%;
                font-size: 12px;
                line-height: 2.5rem;
            }
        }

        .right-column {
            .right-column-txt {
                width: 100%;
                font-size: 12px;
                line-height: 2.5rem;
            }
        }
    }

    .photo-awards {
        .photo-awards-title {
            font-size: 12px;
        }

        .photo-awards-txtdown {
            font-size: 12px;
            line-height: 2.5rem;
        }
    }
}


////////992
@media screen and (min-width: 769px) and (max-width: 992px) {
    .container {
        max-width: 95%;
    }

    .team-up {
        .member-1 {
            .member-1-job-title {
                font-size: 14px;
            }

            .member-1-name {
                font-size: 16px;
            }
        }

        .member-2 {
            .member-2-job-title {
                font-size: 14px;
            }

            .member-2-name {
                font-size: 16px;
            }
        }

        .member-3 {
            .member-3-job-title {
                font-size: 14px;
            }

            .member-3-name {
                font-size: 16px;
            }
        }

        .member-4 {
            .member-4-job-title {
                font-size: 14px;
            }

            .member-4-name {
                font-size: 16px;
            }
        }

        .member-5 {
            .member-5-job-title {
                font-size: 14px;
            }

            .member-5-name {
                font-size: 16px;
            }
        }
    }

    .about-us {
        .titles {
            .titles-gray {
                font-size: 14px;
            }

            .titles-black {
                font-size: 20px;
                line-height: 3rem;
            }
        }

        .left-column {
            .left-column-txt {
                width: 100%;
                font-size: 14px;
                line-height: 3rem;
            }
        }

        .right-column {
            .right-column-txt {
                width: 100%;
                font-size: 14px;
                line-height: 3rem;
            }
        }
    }

    .photo-awards {
        .photo-awards-title {
            font-size: 14px;
        }

        .photo-awards-txtdown {
            font-size: 14px;
            line-height: 3rem;
        }
    }



}