html {
  font-size: 10px;
}
section {
  padding: 9rem 0;
}
.main {
  padding: 4.5rem 0 0 0;
}
.main .ru {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #B0B0B0;
  color: #000000;
  text-transform: uppercase;
  text-decoration: underline;
  margin-right: 1.2rem;
}
.main .eng {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #B0B0B0;
  color: #000000;
  text-transform: uppercase;
}
.main .wrap {
  display: table;
  width: 100%;
  height: 152px;
}
.main .wrap-block {
  display: table-cell;
  vertical-align: bottom;
}
.main .wrap h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 96px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 65px;
}
.main .hamburger {
  text-align: right;
}
.main .footer-line {
  padding: 12rem 0 9rem 0;
}
.main .footer {
  background-color: #000;
}
.main .footer-left-col {
  margin-top: 90px;
}
.main .footer-com-info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #B0B0B0;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 31.18px;
  text-transform: uppercase;
  margin-bottom: 35px;
  width: 45%;
}
.main .footer-email {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 54px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 31.18px;
  text-decoration: underline;
  margin-bottom: 60px;
}
.main .footer-company-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  width: 100%;
  text-align: end;
  margin-top: 65px;
  margin-bottom: 70px;
}
.main .footer-right-col {
  margin-top: 105px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .footer-online-contacts {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.main .online-contact {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 37.42px;
  color: #FFFFFF;
  margin-left: 40px;
  text-decoration: none;
}
.main .footer-language-switcher {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  padding-bottom: 65px;
}
.main .footer-language-button,
.main .footer-language-separator {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #B0B0B0;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 24.38px;
}
.main .footer-language-separator {
  margin: auto 10px;
}
.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1A1A1A;
}
.main-menu .menu-txt {
  padding: 2rem 0 0 6rem;
  width: 70rem;
  display: inline-block;
}
.main-menu .menu-txt a {
  text-decoration: none;
}
.main-menu .menu-txt a h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 96px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 3rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main-menu .menu-txt a h1:hover {
  cursor: pointer;
  color: #000;
  -webkit-text-stroke: 1px #FFFFFF;
}
.main-menu .cross {
  display: inline-block;
  vertical-align: top;
  padding-left: 4rem;
}
.main-menu .menu-logo {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
.main-menu .mail {
  font-family: 'Montserrat', sans-serif;
  font-size: 96px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 32px;
  text-align: right;
  padding-right: 3.5rem;
  line-height: 0rem;
}
.main-menu .line-menu {
  float: bottom;
  width: 100%;
}
