// basic sattings
html{
    font-size: 10px;
}

section{
    padding: 9rem 0;
}


// font famaly
@font-face {
    font-family: 'SF_pro_display_reg';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.SF_reg (){
    font-family: 'SF_pro_display_reg';
    font-size: 16px;
    color: #B0B0B0;
}

.montserrat_reg_20(){
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #B0B0B0;
}

.montserrat_reg_24(){
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.montserrat_sbold_25(){
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}


// colors
@bgn_black: #1A1A1A;
@txt_white: #FFFFFF;

