// //general-settings
// html {
//     font-size: 10px;
// }

// section {
//     padding: 9rem 0;
// }



// font famaly
@font-face {
    font-family: 'SF_pro_display_reg';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.SF_reg () {
    font-family: 'SF_pro_display_reg';
    font-size: 16px;
    color: #B0B0B0;
}

.montserrat_reg_16() {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #B0B0B0;
}

.montserrat_reg_18() {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.montserrat_reg_20() {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #B0B0B0;
}

.montserrat_reg_24() {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.montserrat_sbold_25() {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.montserrat_sbold_96() {
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    text-transform: uppercase;
    font-weight: 600;
    color: @txt_white;
}

.questrial {
    font-family: 'Questrial', sans-serif;
    font-size: 96px;
    font-weight: 400;
}


// colors
@bgn_black: #1A1A1A;
@txt_white: #FFFFFF;
@txt_gray: #B0B0B0;







.main {

    .left-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-slider {
        padding-bottom: 5rem;
    }

        color: #000000;
        text-transform: uppercase;
        line-height: 3rem;
        margin-bottom: 24rem;
    }


    .switch-slider-number {
        height: 2.5rem;
    }

    .first-slider {
        .SF_reg();
        display: inline-block;
        color: #000000;
        margin-right: 1.65rem;
    }

    .second-slider {
        .SF_reg();
        display: inline-block;
        margin-right: 1.65rem;
    }

    .third-slider {
        .SF_reg();
        display: inline-block;
    }

    .slider-img {
        width: 96rem;

        & img {
            width: 100%;
        }
    }

    .create-future-txt p {
        .montserrat_reg_16();
        line-height: 1.2rem;
        text-transform: uppercase;
    }

    .under-slider-title h1 {
        .montserrat_reg_24();
        text-transform: uppercase;
        font-weight: 400;
        line-height: 3.8rem;
        margin-top: 4rem;
    }

    .under-slider-txt p {
        .montserrat_reg_18();
        line-height: 3.5rem;
        margin: 2rem 0rem 5rem 0rem;
    }

    .projects {
        background-color: @bgn_black;
        padding-bottom: 15rem;

        &-container {
            padding-top: 5rem;
        }
    }

    .projects-txt p {
        .montserrat_reg_24();
        color: @txt_gray;
        text-transform: uppercase;
    }

    .residents {
        transition-duration: 0.2s;
        margin: 10px;
        width: auto;

        &-img {
            margin-top: 11rem;
        }

        &-img img {
            width: 100%;
            height: auto;
        }

        &-txt {
            .montserrat_reg_24();
            color: @txt_white;
            text-transform: uppercase;
            padding-top: 2rem;
            display: inline-block;
            line-height: 2rem;
        }

        &-arrow {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        &-line img {
            width: 100%;
            vertical-align: top;
            margin-top: 1.5rem;
        }
    }

    .housing {
        transition-duration: 0.2s;
        margin: 10px;
        width: auto;

        &-container {
            padding: 6rem 0rem 0rem 6rem;
        }

        &-img img {
            width: 100%;
            height: auto;
        }

        &-txt {
            .montserrat_reg_24();
            color: @txt_white;
            text-transform: uppercase;
            padding-top: 2rem;
            display: inline-block;
            line-height: 2rem;
        }

        &-arrow {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        &-line img {
            width: 100%;
            vertical-align: top;
            margin-top: 1.5rem;
        }
    }

    .inter {
        transition-duration: 0.2s;
        margin: 10px;
        width: auto;

        &-container {
            padding: 15rem 0rem 0rem 6rem;
        }

        &-img img {
            width: 100%;
            height: auto;
        }

        &-txt {
            .montserrat_reg_24();
            color: @txt_white;
            text-transform: uppercase;
            padding-top: 2rem;
            display: inline-block;
            line-height: 2rem;
        }

        &-arrow {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        &-line img {
            width: 100%;
            vertical-align: top;
            margin-top: 1.5rem;
        }
    }

    .land {
        transition-duration: 0.2s;
        margin: 10px;
        width: auto;
        // margin-left: 9.7rem;

        &-container {
            padding-left: 9.7rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-img img {
            width: 100%;
            height: auto;
        }

        &-txt {
            .montserrat_reg_24();
            color: @txt_white;
            text-transform: uppercase;
            padding-top: 2rem;
            display: inline-block;
            line-height: 2rem;
        }

        &-arrow {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        &-line img {
            width: 100%;
            vertical-align: top;
            margin-top: 1.5rem;
        }
    }




    .card-text-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .projects-card:hover {
        cursor: pointer;
        margin: 5px;
        background-color: #333;
    }

    .all-projects {
        align-self: flex-end;
        // margin: 19rem 0rem 0rem 43.6rem;
        margin: 20px;
        transition-duration: 0.2s;

        &-txt {
            .montserrat_reg_24();
            line-height: 1.5rem;
            color: @txt_gray;
            text-transform: uppercase;
            display: inline-block;
        }

        &-arrow {
            display: inline-block;
        }

        .all-projects-hr{
            border-top: 2px solid @txt_gray;
            width: 95%;
        }

        &:hover {
            cursor: pointer;
            margin: 17px;
            background-color: #333;
        }
    }



    .about-us {
        padding-top: 5rem;

        &-gray-txt {
            .montserrat_reg_16();
            text-transform: uppercase;
            margin-bottom: 3rem;
        }

        &-title h1 {
            .montserrat_reg_24();
            text-transform: uppercase;
            font-weight: 400;
            line-height: 3.8rem;
            margin-bottom: 3rem;
        }

        &-img img {
            width: 100%;
            margin-bottom: 4rem;
        }

        &-txt {
            .montserrat_reg_18();
            line-height: 3.5rem;
        }
    }

    .we-offer {
        padding-top: 7rem;

        &-gray-txt {
            .montserrat_reg_16();
            text-transform: uppercase;
            margin-bottom: 3rem;
        }

        &-title h1 {
            .montserrat_reg_24();
            font-weight: 400;
            line-height: 3.8rem;
            text-transform: uppercase;
            margin-bottom: 4rem;
        }

        &-arch {
            .montserrat_reg_18();
            font-weight: 400;
            text-transform: uppercase;
            display: inline-block;
            padding-top: 1.5rem;
        }

        &-plus-arch {
            display: inline-block;
            padding-left: 40rem;
        }

        &-case-two {
            margin-top: 1.5rem;
        }

        &-design {
            .montserrat_reg_24();
            text-transform: uppercase;
            display: inline-block;
        }

        &-plus-design {
            display: inline-block;
            padding-left: 57.5rem;
        }

        &-case-three {
            margin-top: 1.5rem;
        }

        &-concept {
            .montserrat_reg_24();
            text-transform: uppercase;
            display: inline-block;
        }

        &-plus-concept {
            display: inline-block;
            padding-left: 23.1rem;
        }
    }

}

//////////768
@media screen and (min-width: 300px) and (max-width: 768px) {
    .main {

        .main-slider{
            .left-column{
                .main-txt{
                    font-size: 12px;
                    line-height: 2.5rem;
                }
            }
        }

        .under-slider{
            .create-future-txt p{
                font-size: 12px;
                line-height: 1rem;
            }
            .under-slider-title h1 {
                font-size: 18px;
                line-height: 3rem;
            }
        
            .under-slider-txt p {
                font-size: 14px;
                line-height: 2.5rem;
            }
        }

        .projects-container {
            display: flex;
            flex-direction: column;

            &-row {
                display: flex;
                flex-direction: column;
            }
        }


        .residents-container,
        .housing-container,
        .inter-container,
        .land-container {
            padding: 0;
            margin-bottom: 5rem;
        }

        .projects-txt {
            margin-bottom: 5rem;
            margin-left: 2rem;
        }

        .projects-card {
            margin: 0;
        }

        .projects-card:hover {
            margin: 0;
            cursor: default;
            background-color: #1a1a1a;
        }

        .residents-img {
            margin-top: 0;
        }

        .card-text-container,
        .residents-line,
        .housing-line,
        .inter-line,
        .land-line {
            margin: 0 auto;
            width: 95%;
        }

        .land-container {
            gap: 8rem;
        }

        .all-projects {
            margin: 0;
            margin-right: 2rem;
        }

        .all-projects:hover{
            margin: 0;
            margin-right: 2rem;
            background-color: #1A1A1A;
            cursor: default;
        }


        .projects {
            padding-bottom: 5rem;
            .section {
                .container {
                    margin: 0;
                    max-width: 100%;
                }
            }
        }

        .about-us{
            &-gray-txt p{
                font-size: 12px;
            }
            .about-us-title h1{
                font-size: 18px;
                line-height: 3rem;
            }
            .about-us-txt{
                font-size: 14px;
                line-height: 2.5rem;
            }
        }

        .we-offer{
            &-gray-txt p{
                font-size: 12px;
            }
            &-title h1{
                font-size: 18px;
                line-height: 3rem;
            }
           
        }

        .about-accordion{
            .about-accordion-heading-text{
                font-size: 16px;
            }
            .about-accordion-text-content{
                font-size: 14px;
            }
        }

        .container {
            max-width: 95%;
        }
    }
}

///////////////992
@media screen and (min-width: 769px) and (max-width: 992px){
    .container{
        max-width: 95%;
    }

    .main-slider{
        .left-column{
            .main-txt{
                font-size: 14px;
                line-height: 2.8rem;
            }
        }
    }

    .under-slider{
        .create-future-txt p{
            font-size: 14px;
            line-height: 1rem;
        }
        .under-slider-title h1 {
            font-size: 20px;
            line-height: 3rem;
        }
    
        .under-slider-txt p {
            font-size: 16px;
            line-height: 3rem;
        }
    }

    .projects{
        padding: 0rem;
        background-color: #fff;
    }
    .projects-container{
        .land-txt,
        .housing-txt,
        .inter-txt,
        .residents-txt{
            font-size: 18px;
        }

        .inter-container{
            padding-top: 7rem;
        }

        .all-projects{
            &-txt{
                font-size: 18px;
                line-height: 0.5rem;
            }
        }
        .projects-card:hover {
            margin: 0;
            cursor: default;
            background-color: #1a1a1a;
        }
    }

    .about-us{
        &-gray-txt p{
            font-size: 14px;
        }
        .about-us-title h1{
            font-size: 20px;
            line-height: 3rem;
        }
        .about-us-txt{
            font-size: 16px;
            line-height: 3rem;
        }
    }

    .we-offer{
        &-gray-txt p{
            font-size: 14px;
        }
        .we-offer-title h1{
            font-size: 20px;
            line-height: 3rem;
        }
    }

    .about-accordion{
        .about-accordion-heading-text{
            font-size: 18px;
        }
        .about-accordion-text-content{
            font-size: 16px;
        }
    }
}

//////////////1200
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .container{
        max-width: 95%;
    }

    .projects-container{
        .all-projects{
            &-txt{
                font-size: 22px;
                line-height: 0.5rem;
            }
        }
    }

}