//compress: true

// colors
@black: #000;
@almost-white: #D8D8D8;
@bgn_black: #1A1A1A;
@txt_white: #FFFFFF;
@txt_gray: #B0B0B0;


body {
    font-family: "Montserrat", sans-serif;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.slider-indicator-container {
    font-family: "SF Pro Display", sans-serif;
    display: flex;
    flex-direction: column;
    width: 84px;
    margin-left: 7px;
}

.slider-indicator-num {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin-bottom: 4px;
}

.slider-indicator-body {
    height: 5px;
    background-color: @txt_gray;
}

.slider-indicator-slider {
    background-color: @black;
    width: 26px;
    height: 5px;
}

.image-container {
    padding-right: 20px;
    padding-left: 15px;
}

.main-img {
    width: 100%;
}

.short-info-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.short-info-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.short-info-header {
    color: @txt_gray;
    line-height: 19.5px;
}

.about-project-header {
    color: #838383;
    font-size: 20px;
    margin-bottom: 60px;
    margin-top: 67px;
}

.about-project-header-info {
    font-size: 25px;
    color: @black;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 38.98px;
    margin-bottom: 49px;
}

.about-progect-column-right {
    padding-left: 47px;
    padding-right: 30px;
}

.about-progect-column-text {
    font-size: 24px;
    line-height: 36px;
    margin-top: 30px;
    color: @black;
}

.about-project-header-info-second {
    margin-top: 60px;
}

.about-first-floor-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.about-first-floor {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    padding-right: 10px;

}

.zone-first-floor-header {
    color: @black;
    font-weight: 500;
    font-size: 24px;
    line-height: 16px;
    margin-bottom: 33px;
}

.zone-first-floor-info {
    color: @black;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
}

.about-second-floor {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.zone-second-floor-header {
    color: @black;
    font-weight: 500;
    font-size: 24px;
    line-height: 16px;
    margin-bottom: 33px;
}

.zone-second-floor-info {
    color: @black;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 6px;
}

.page-underline {
    width: 100%;
    height: 2px;
    background-color: @black;
    margin-bottom: 95px;
}






.footer {
    background-color: @black;
    
}

.footer-left-col{
    margin-top: 90px;
}

.footer-com-info {
    color: @almost-white;
    font-size: 20px;
    line-height: 31.18px;
    text-transform: uppercase;
    margin-bottom: 25px;
    width: 45%;
}

.footer-email {
    color: @almost-white;
    font-size: 20px;
    line-height: 31.18px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 54px;
    text-decoration: underline;
    margin-bottom: 60px;
}

.footer-company-name {
    width: 100%;
    text-align: end;
    margin-top: 65px;
    margin-bottom: 60px;
}

.footer-right-col{
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-online-contacts{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.online-contact{
    font-weight: 500;
    font-size: 24px;
    line-height: 37.42px;
    color: @almost-white;
    text-decoration: none;
    margin-left: 40px;
}

.footer-language-switcher{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    padding-bottom: 65px;
}

.footer-language-button, .footer-language-separator{
    color: @almost-white;
    text-decoration: none;
    font-size: 20px;
    line-height: 24.38px;
}

.footer-language-separator{
    margin: auto 10px;
}